body{
    background-color: aqua;
}
h1{
    color: rgb(232, 22, 162);
    text-align: center;
    padding-top: 20vh;
    margin: 10vh auto 0 auto;
    margin-top: 2em;
    margin-bottom: 4em ;
    margin-left: 2em;
    margin-right: 2em;
}
#orderForm{
    text-align: center;
    size: 100PX;
}
#total{
    text-align: center;
}